//## Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-base: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;

$font-size-base: 14px;
$font-size-large: ceil(($font-size-base * 1.2857)); // 18px
$font-size-small: 0.85rem; // 12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base: 1.5; // 21/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed: floor(($font-size-base * $line-height-base)); // ~21px

$headings-font-family: Calluna, Georgia, "Times New Roman", Times, serif;
$headings-font-weight: 500;
$headings-line-height: 1.1;
$headings-color: $gray-darker;
$font-size-h1: ceil(($font-size-base * 3.12)); // 44px
$font-size-h2: ceil(($font-size-base * 2)); // 28px
$font-size-h3: ceil(($font-size-base * 1.5)); // ~24px
$font-size-h4: ceil(($font-size-base * 1.5)); // ~24px
$font-size-h5: $font-size-base;

@mixin base-font-style {
    font-size: $font-size-base;
    font-family: $font-family-base;
    line-height: $line-height-base;
}


%heading-font-style {
    color: $headings-color;
    font-weight: $headings-font-weight;
    font-family: $headings-font-family;
}

.headline1 {
    @extend %heading-font-style;
    font-size: $font-size-h1;
    line-height: 0.8;
}

.headline2 {
    @extend %heading-font-style;
    font-size: $font-size-h2;
}

.headline3 {
    @extend %heading-font-style;
    font-size: $font-size-h3;
}

.headline4 {
    @extend %heading-font-style;
    font-size: $font-size-h4;
}

.headline5 {
    @extend %heading-font-style;
    color: $gray;
    font-weight: bold;
    line-height: 3;
    text-transform: uppercase;
}


