.b-nav-vert {
  list-style: none;

  &__item {
    width: 100%;
    max-width: 100%;
    padding: $padding-large-vertical 0;
    color: $link-color;

    &::after {
      content: "";
      position: absolute;

      right: 0;
      left: 35px;

      display: block;
      margin-top: .5em;
      border-bottom: dotted 1px $gray-lighter;
    }

    &::before {
      @extend %glyphicon;
      content: "\e250";
      padding-right: $padding-base-horizontal;
      font-size: .7em;
    }
  }

  &__link {
    font-size: $font-size-base;
    line-height: $line-height-computed;
  }
}
